.node{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.linkedList{
  display: flex;
  flex-wrap: wrap;
}